@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    color-scheme: light;
  }

  html.dark {
    color-scheme: dark;
  }

  body {
    @apply text-slate-800 dark:text-slate-100;
  }
}
